<ul class="nav nav-tabs tabs" role="tablist">
  <li role="presentation" class="active tab">
    <a href="#flashcards" aria-controls="flashcards" role="tab" data-toggle="tab" ng-click="sectionTitle = 'Flashcards'">
      <i class="fa fa-th-large"></i>Flashcards
    </a>
  </li>
  <li role="presentation" class="tab">
    <a href="#list" aria-controls="list" role="tab" data-toggle="tab" ng-click="sectionTitle = 'Words List'">
      <i class="fa fa-list"></i>Words List
    </a>
  </li>
</ul>
