<footer id="footer" class="page-footer teal col-md-12">
  Made by Mateusz Piotrowicz &copy; 2016
</footer>

<!-- Javascript -->

<script src="public/vendor/angular/angular.min.js" type="text/javascript"></script>
<script src="public/vendor/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="public/vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="public/vendor/jspdf/dist/jspdf.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" type="text/javascript"></script>
<script src="node_modules/angular-utils-pagination/dirPagination.js" type="text/javascript" ></script>
<script src="public/js/sorttable.js"  type="text/javascript"></script>
<script src="public/js/app.js" type="text/javascript"></script>
<script src="public/js/app-ctrl.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // $('#add-new').on('shown.bs.modal', function () {
    //     $('#new-word').focus();
    // })
  });
</script>

</body>
</html>
