<nav id="header" class=" nav-wrapper teal col-md-12">
  <div class="container">
    <div class="row">
      <a href="/index" class="left">WordBank</a>
      <a href="/about" class="a-small"><i class="fa fa-info-circle"></i>About</a>
      <a href="/config" class="a-small"><i class="fa fa-wrench"></i>Config</a>
      <a href="/index" class="a-small"><i class="fa fa-home"></i>Home</a>
    </div>
  </div>
</nav>
